[2019-01-08 14:08] aldanor opened #2 "j/k to navigate up/down in select?"
This being a *command* line tool, after all, I was surprised j/k wasn't the primary mean of navigation up and down already - would appreciate if it was supported :)

[2019-01-10 22:27] mart1n opened #3 "Possible CPR (cursor position requests) issue"
First off, I'm not sure if this is a bug/issue in this project or not.

Whenever I use the select, rawselect or checkbox question types, the list of selections is displayed half-a-screen down from the question text.

I used PDB to step through the code and it didn't reproduce the issue, but instead I got the log message, "WARNING: your terminal doesn't support cursor position requests (CPR)". The

[2019-01-11 12:19] tmbo commented on #3
I have seen this happen as well a couple times. I couldn't reproduce it consistently though - I'll do some digging to check if there is an underlying issue in the prompt_toolkit or if it stems from the way it is used in the project.

[2019-01-11 15:32] mart1n commented on #3
I'm available for additional testing, if you have any requests. It consistently reproduces on my system.

[2019-01-11 22:18] #3 closed

[2019-01-11 22:21] tmbo commented on #3
@mart1n I think I found the issue and I've pushed a fix to master - do you mind trying it out?

[2019-01-11 22:32] #2 closed

[2019-01-11 22:32] tmbo commented on #2
I've implemented this on master 🙂

[2019-01-11 23:35] aldanor commented on #2
That's awesome, thank you! (apologies for falling out for a bit, busy times)

[2019-01-12 08:49] tmbo commented on #3
Awesome, I'll create a release then.

The main change is this line https://github.com/tmbo/questionary/commit/00751fae7888367fb66905a575ac771ad2e5cc22#diff-0eccf09aa36dc0dd59d841a342a6b76bR286 - it makes sure the "window" which contains the question does not use unused space. Instead, it selects the max height in a way that all the content is visible (in our case the question) but no new lines.

[2019-01-12 08:57] tmbo commented on #3
I've released an updated version `1.0.1` that includes the fix.

[2019-02-04 20:25] AlbertEmil opened #7 "Feature Request: Validation"
I understand `questionary` as a growing up Python-equivalent of inquirerer.js. Since the landscape of available CLI modules seems to be somewhat scattered around unresolved dependency updates (e.g. like with `whaaaaat`, `pyinquirer` ...), I pretty much like what questionary aims at.
However, one of the features I currently miss in general is input validation since I would like to prevent the user

[2019-02-05 10:49] tmbo commented on #7
So you men the concept of `when` (only raising a question given a certain condition is met)?

https://github.com/CITGuru/PyInquirer/blob/master/examples/pizza.py#L104

[2019-02-05 19:48] AlbertEmil commented on #7
I mean something like the `validate` option of [inquirer.js](https://github.com/SBoudrias/Inquirer.js/#question):

Further execution is prevented as long as no valid input is provided. For my current project, the NodeJs snippet looks like this (currently porting the codebase from NodeJS to Python):

[code]

Giving the following output if no port is selected (which is invalid):

[code]

In the mean

[2019-02-13 16:40] cyberbeast commented on #7
I had a similar concern about this too. Currently, I get around this by manually processing the input and repeating the question infinite times until the correct input conditions are met. It would certainly be an improvement in "developer/user experience" if the control logic built into the question type would not allow the next question being asked if the "answer conditions" are not satisfied bas

[2019-04-13 14:38] BenBBear opened #8 "TypeError: descriptor '__subclasses__' of 'type' object needs an argument when imported in python 3.5.2"
This is a known bug in Python 3.5.2 as discussed in https://stackoverflow.com/questions/42942867/optionaltypefoo-raises-typeerror-in-python-3-5-2

[code]

Do you consider comment that type hint `->Optional[Validator]` out for Python 3.5.2 compatibility so more people can use this wonderful library?  Thanks a lot.

[2019-04-17 20:21] Woile commented on #7
Agreed this feature would be really useful! If I have time in the coming weeks I'll take a look

[2019-04-21 19:09] tmbo commented on #8
Yes sure will do :+1:

[2019-04-21 19:11] #8 closed

[2019-04-21 19:15] tmbo commented on #8
should be fixed in version `1.1.1`

[2019-06-24 14:12] geewrd opened #9 "User Cancellation"
I see that `KeyboardInterrupt` is caught and `None` is returned by all of the prompts. Is it safe to assume that if None is returned by prompt, that the user canceled, or are there cases where None is returned as valid input?

[2019-06-24 14:33] geewrd commented on #9
I see I missed the unsafe_ask() method, which does exactly what I need.

[2019-06-24 14:33] #9 closed

[2019-07-25 06:53] BradenM opened #11 "Hidden and Blink prompt style flags have no effect"
Hi,

I use questionary in several of my projects (thanks for that, it's a great prompt library!) and have found an issue when styling the prompts.

It seems that that passing the `hidden` or `blink` flags to `prompt_toolkit.styles.Style` has no effect. (See docs of the flags I'm referring too [here](https://python-prompt-toolkit.readthedocs.io/en/2.0.7/pages/advanced_topics/styling.html))

See thi

[2019-07-29 12:55] tmbo commented on #11
very good point, I actually haven't tested them myself but will try to look into this. I guess you are trying to use `hidden` to get rid of the question prefix?

[2019-07-29 20:04] BradenM commented on #11
Actually the checkbox instructions, wanted to put them on a separate line. But same idea.

[2019-08-04 13:38] Undermmon opened #15 "Error importing on Python 3.5.2"
I am using Questionary 1.2.0 with Python 3.5.2, and during the import i am getting this error:

[code]

[2019-08-07 21:14] episodeyang opened #16 "Feature Request: Custom Keybinding"
Would it be possible to use <kbd>j</kbd> and <kbd>k</kbd> for list navigation instead? the javascript inquirer seems to support this.

My dev time is quite limited but would otherwise love to contribute.

[2019-08-07 21:19] episodeyang commented on #16
Great seems the default keybinding is already set to this!

[2019-08-07 21:19] #16 closed

[2019-08-08 02:11] vaneseltine commented on #15
If it's an option for you, a workaround is upgrading Python to anything above 3.5.2: typing/issues/266

[2019-08-08 02:39] vaneseltine commented on #15
This happens on import of Style from prompt_toolkit... I'm betting that this is due to their addition of type annotations in c7851c09f (6 May 2019).

[2019-08-13 15:43] Undermmon commented on #15
Unfortunately i am not able to upgrade Python at the moment.

[2019-08-13 16:12] vaneseltine commented on #15
Hmm, the problem was actually the line above `style: Optional[Style] = None`.

#8 raised the same problem in April, but it looks like not all the uses of `Type` were caught in 70165f0

This is an exhaustive removal of `Type` from annotations, which I confirmed fixed the issue (3.5.2 install on Windows).

[2019-08-19 16:07] #15 closed

[2019-10-05 04:46] joaquingx opened #20 "New question type: Autocomplete"
I would like to add a new question type, or maybe is an enhancement to `text` question type. Basically I want to add the option to autocomplete text, in my opinion it has a lot of advantages:
* For a list with more than 15+ items, `select` or another question type would be cumbersome.
* If the prompt is used continously for the same person, i think that this option would be his best option.
etc

I

[2019-10-05 11:34] tmbo commented on #20
Yes I think that would be a great addition 👍 could be an extension to text but if the code is different I’d rather go for a new type

[2019-10-07 02:58] joaquingx commented on #20
Hi :smile: , this weekend i've been learning more about prompt_toolkit and questionary. In this research i found that questionary is not using the last version of  prompt_toolkit 2(2.0.10), and this might be an issue. Basically, in 2.0.7, autocompletion base class does not allow `formatted_text` in `display`. When I was exploring in prompt_toolkit, I found this example: https://github.com/prompt-t

[2019-10-07 21:25] tmbo commented on #20
Sure, feel free to update :+1:

[2019-10-16 23:56] pyu10055 opened #22 "support Python 2.0"
We currently using PyInquirer, and we would like to switch to questionary, but we need python 2.0 support. In your opinion what needs to be done to support Python 2.0? We would be happy to contribute.
Thanks

[2019-10-21 03:12] frankli0324 opened #23 "Customize class:instruction on prompt creation"
Just another day when it comes to my mind "why not navigate with j and k in questionary.select" and it really worked, then I found #2
The default hint text didn't mention that, so I looked into the library and found that `get_prompt_tokens()` literally returns "(Use arrow keys)".
A customizable text plz?

[2019-10-31 09:45] tmbo commented on #22
There wouldn't be large changes, but I imagine there are a couple of syntax things that are py3 specific. To be honest, I wouldn't want to maintain this project for py2 though, as lifetime of 2.7 is ending this year anyways.

[2019-10-31 09:47] tmbo commented on #23
Yes good point :+1: Would be great if you could provide a PR for that, happy to help out to improve this :rocket:

[2019-11-08 04:11] Lee-W opened #26 "Enable pointer and highlighted at the same time"
Hi, thanks for the great lib!

Currently, I'm working on things like the following.
![image](https://user-images.githubusercontent.com/5144808/68447844-5ebce900-021c-11ea-9bdf-7d9156558098.png)

However, in the current implementation, we cannot use pointer and highlighted text at the same time.
Maybe we can change the line here to enable it.
Or, is there any concern of it?
https://github.com/tmbo/

[2019-11-10 16:39] tmbo commented on #26
Yes that sounds good :rocket:

[2019-11-10 16:40] #26 closed

[2019-11-10 17:49] #23 closed

[2019-11-10 17:49] #22 closed

[2019-11-10 17:50] tmbo commented on #20
implemented and merged ❤️  - will be part of 1.4.0 release

[2019-11-10 17:50] #20 closed

[2019-11-15 16:45] layday commented on #26
It's not very obvious if a highlighted item is selected in checkbox layouts after this change.

[2019-11-15 16:53] tmbo commented on #26
@layday do you have any suggestions on how to improve that?

[2019-11-15 17:05] layday commented on #26
I suppose selected could be given higher precedence - if you were to simply swap the conditions around:

[code]

I'm not sure if anything else makes use of `selected` though.

[2019-11-20 14:52] tmbo commented on #26
@layday yes that sounds reasonable. do you mind creating a PR?

[2019-12-13 06:54] halloleo opened #29 "How to use rawselect without CPR?"
I love questionary! It is certainly the right way forward in the command line dialogs space.

I tried out the `rawselect.py` example and have problems on simple terminals (TERM=dumb or TERM=unkown) which do not cater for CPRs (cursor position requests). In this case `questionary` prints out

    WARNING: your terminal doesn't support cursor position requests (CPR).

The warning comes from `prompt_

[2019-12-16 03:28] halloleo commented on #29
I found a way to "better" the situation: Before calling `questionary.rawselect` set

        os.environ['PROMPT_TOOLKIT_NO_CPR'] = '1'

and at least the warning disappears. However there is still a problem when running `rawselect` in a dumb terminal :

The `message` string you provide to the function is nowhere displayed while the (numbered) choices are shown.

[2019-12-16 19:03] tmbo commented on #29
Mhm, is there any way to reproduce this on OSX?

I mean we can check if `CPR` is possible on the renderer of prompt_toolkit, but I am not sure that works before the prompt is actually run.

In any case, maybe you can create a PR - I am happy to merge it given there is some way to reproduce this

[2019-12-19 06:09] halloleo commented on #29
Yes, easy to reproduce on macOS: Just run one of your samples in a shell buffer in Emacs (that is a rather dumb terminal). I can give you the steps for how to do this,if that helps.

[2019-12-27 02:49] layday opened #31 "prompt-toolkit v3 compatibility"
The autocomplete tests are failing with `prompt-toolkit==3.0.2`, ostensibly because it's not registering any of the tab escapes.  I did some bisecting and [this](https://github.com/prompt-toolkit/python-prompt-toolkit/commit/c7851c09ffbfa7d06458408abee77ab6f548852d) absolutely massive (!) commit is the one that broke it.  If you'd like to get support for v3 in, I can try digging a bit deeper.

[2019-12-27 09:49] tmbo commented on #31
@layday yes I'd love to get this in - would be great if you can take a closer look :rocket:

[2019-12-27 12:39] layday commented on #31
So, on the v3 branch, the completions aren't generated until the entire key sequence is read in.  A tab event _is_ triggered but the completions aren't there for the test to tab through.  I'm guessing it's got something to do with the new async tooling - something might be blocking to completer - but the codebase is really opaque to the uninitiated (that's me).

[2020-01-22 03:41] halloleo commented on #29
Good news @tmbo! prompt-toolkit has now a basic way to handle dumb terminals! :-) Thanks to @jonathanslenders [this is added to master](https://github.com/prompt-toolkit/python-prompt-toolkit/pull/1035)  (and will make its way into the pip package, I guess) but as prompt_toolkit **3.0**. The problem is you pin prompt_toolkit as version '~=2.0'.

[2020-01-22 03:45] halloleo commented on #29
I just saw there is an issue (#31) dealing with using V3 of prompt-toolkit. So after that issue is resolved we might be able to close this here automatically. :)

[2020-01-22 12:03] tmbo commented on #29
That's great news, I am currently looking into getting it to work with prompt toolkit V3 and it is looking good. there are only some autocomplete tests which are failing for unknown reasons.

[2020-01-22 13:10] #31 closed

[2020-01-22 13:22] tmbo commented on #29
I've just released questionary version 1.5 which supports prompt_toolkit 3

Do you mind checking if it works with the dumb terminal?

[2020-01-29 09:03] gbataille opened #33 "Add prefix filter search in select control"
As featured here (when selecting the AWS region)
https://asciinema.org/a/AyujEPdjcDmSPoOK26pTozCiO

@tmbo thanks for pointing me here from PyInquirer. Looks like the more modern/maintained alternatives (latest lib, tests, ...)

I'll try to use questionary soon and if it's all good, I'll contribute the filter that I have built that I find very practical on long lists like the one I'm dealing with.

[2020-01-29 10:28] tmbo commented on #33
The filter looks really cool, would love to integrate that :rocket:

[2020-01-29 21:22] xmatthias opened #34 "Improved documentation"
I think this is a great library - however documentation is somewhat lacking.

I've been able to build up a rather nice workflow now - but most of it i had to piece together from the sourcecode.

Mainly, it's about the configuration dictionary way:

[code]

For the above dictionary - the following points are missing / non-obvious in the docs
* `"validate"`: key name when used as dictionary
* `"vali

[2020-01-29 21:33] xmatthias opened #35 "[feature request] Testing questionary flows"
It would be great if questionary would have an easy way to test input flows

For example (reusing my example flow from #34):

[code]

Now by calling `test_prompt()` with an input string (or List - which is probably easier to compile) we can run through the whole workflow, and verify that all keys are populated as expected.
This would allow proper CI for more complex flows ... which base one input

[2020-01-30 10:23] tmbo commented on #34
@xmatthias that is great feedback, thanks a lot. Given that your experience is still fresh, do you mind proposing the changes to the Readme?

Maybe pointing towards the examples more could help (and adding more comments in there)

[2020-01-30 10:30] tmbo commented on #35
That is a really good idea, and actually something we have been struggling with in https://github.com/rasahq/rasa as well.

I need to digg a little deeper, but ideally, there should be a way to mock the actual IO, but provided by questionary (as you said, I don't think it is save for the user to mock these kind of things, but it would be fine to provide & test it as part of the library).

Could be

[2020-01-30 15:29] xmatthias opened #36 "unable to run examples / causing exceptions"
I seem to be unable to run any of the examples.

I don't think it's related to my environment - i'm using a brand-new 3.8.0 Virtual environment, created for this sole purpose.

Installation steps:

[code]

environment:
[code]

Error received:
[code]

I'm not certain what is causing this, as running a python shell and importing questionary there does work - and also running it from within the proje

[2020-01-30 15:38] xmatthias opened #37 "Allow "confirmatory" enter to confirm dialog"
When using the prompt-type confirm - it's really odd to me that pressing Y / n will immediately confirm the action and move forward.

I think the current approach of auto-confirm will work fine for single, confirmatory questions - but can be a problem for workflows.

For that, i'd propose to have an option like "autoenter" - which should default to true (to keep existing behaviour) - however it'll

[2020-01-30 21:28] tmbo commented on #36
this is an import issue due to one of the examples being named `select`, it gets resolved wrongly...
[code]

[2020-01-31 09:59] xmatthias commented on #36
great catch - sorry for not spotting this!

[2020-01-31 20:28] #36 closed

[2020-02-01 08:39] gbataille commented on #33
Hey @tmbo
so I migrated my code to `questionary`. https://github.com/gbataille/password-organizer/pull/1

What I like
- you created a `Choice` class (like I had done) 👍
- I could remove all my custom code (at least the part that was emulating PyInquirer)

What I'm missing
- I think `Choice` should be a `Generic` type, parameterised by the type `T` of it's return value. Actually I would personally

[2020-02-02 14:53] gbataille commented on #33
pending work here
https://github.com/gbataille/questionary/tree/prefix_filter_search

[2020-02-06 07:10] xmatthias commented on #34
I guess i'll close this as #38 has been merged - and it includes what i personally was missing (not sure if other things are missing too).

[2020-02-06 07:10] #34 closed

[2020-03-05 15:06] beeb opened #43 "Programmatically define pointed-at option for select"
Let me preface this by saying that I love questionary and I'm thankful to you guys for making it :)

I would like to suggest adding a feature to the `select` prompt. Currently, I think (by looking at the code) that there is no way to change which item in the select is pointed at (has the pointer symbol) when it gets initialized. It's always the first selectable choice that gets pointed at.

I woul

[2020-03-05 15:26] beeb opened #44 "Feature request: file selection dialog"
It would be great to have a file selection prompt for questionary.

Here's something I put together in a hurry that uses the built-in `select` prompt, but it's nowhere near perfect. For instance, it's recursive which I would not do if implementing seriously.

[code]

[2020-03-06 09:19] tmbo commented on #43
@beeb I think that is a great idea - selecting the default on startup should be a reasonably easy thing to do :+1:

[2020-03-09 07:30] SonGokussj4 commented on #7
Hi. This is the only thing missing for me and the reason I'm still using PyInquirer.

I'm using these validations for `input type` often:
- Non-empty string: `'validate': 'Cannot be empty' if not answer else True`
- Predefined choices: `'validate': lambda answer: "Wrong choice. Choose between 'public' or 'private'." if answer not in ['public', 'private'] else True

Is there an ETA something like t

[2020-03-11 20:15] falkyre opened #45 "Color of answer for text prompt doesn't change"
I've just switched over from PyInquirer to questionary and it was a seamless transition.  Kudos to you for creating questionary.  One thing I noticed under PyInquirer and a text prompt is that when I get the answer, the answer is high lighted in a different color.  Under questionary, that color doesn't change.  Am I missing something?  I would think that the answer should be able to be styled as t

[2020-03-11 20:34] falkyre commented on #45
One of left is Questionary and one on right is PyInquirer.  The line **When do you want the end of the day to be?**. I'd like the answer to be the same color as the question above it
![Screen Shot 2020-03-11 at 3 32 03 PM](https://user-images.githubusercontent.com/7012886/76461265-9647c780-63ad-11ea-9194-4cf4a0cfa305.png)

[2020-06-17 13:23] Zylvian opened #47 "Documentation request: documentation for all different question choices"
Had to dive through some examples to find stuff like 'when' and 'validate'. Would be nice with a sheet of available keys for each question.

[2020-06-19 13:52] Zylvian commented on #7
So there is a 'validate' field, at least in the build I'm using, not sure if that is what you're looking for.

```'validate': lambda val: re.compile('#\d').match(val) is not None,```

[2020-06-26 18:13] kiancross commented on #7
I've submitted a PR to add validation to the checkbox: https://github.com/tmbo/questionary/pull/48.

[2020-06-29 21:09] Zethson opened #49 "How to write tests for applications that use questionary?"
Dear @tmbo ,

I am trying to test an python application of mine which uses questionary.
However, I am lost when trying to test the application.

from click.testing import CliRunner
runner = CliRunner()
`result = runner.invoke(myapplicationfunction, input='\n')`

The code above should call myapplicationfunction which opens questionary prompts and then simply enter once, which is equivalent to \n.
T

[2020-07-01 09:44] Zylvian opened #50 "Custom validation error message"
I'd like to be able to add a custom error message to the "validation" field, to replace the glaring "invalid input" on the bottom of the prompt.

[2020-07-01 18:17] kiancross commented on #49
Have a look at how the questionary unit tests work, for example: https://github.com/tmbo/questionary/blob/153f30252812409b21e9243150ce39b4ef72e806/tests/prompts/test_text.py#L17

Specifically, the following function may be helpful in your implementation: https://github.com/tmbo/questionary/blob/153f30252812409b21e9243150ce39b4ef72e806/tests/utils.py#L25

[2020-07-01 18:19] kiancross commented on #50
Use a custom `Validator`, as in the example here: https://github.com/tmbo/questionary/blob/153f30252812409b21e9243150ce39b4ef72e806/examples/text_phone_number.py#L13

[2020-07-01 18:21] Zethson commented on #49
@kiancross Thanks, will take a look and close this issue if I succeed!

[2020-07-03 14:44] Zethson commented on #49
We are currently still struggling. We don't have the case where the input can be directly fed into the questionary functions, since between questionary calls there may still be stuff going on and the input cannot be used as easily one after another.

An example:

[code]

Ideally we would like to test testme with a single string, that already has all the answers to all questionary prompts.
e.g. our

[2020-07-04 18:08] kiancross commented on #49
@Zethson I'm not entirely sure what you're asking/what your use case is.

You can copy the `feed_cli_with_input` (and all the imports) and use it in your test suite. I have one example using a text prompt, but you can look at how to test all inputs in the `tests` directory.

You can take the output from `feed_cli_with_input` and use it to generate the input for your next test how you wish.

[2020-07-04 18:17] Zethson commented on #49
No, we can't simply take the method and use it for our use case. Of course we also had that idea :)

[code]

Again, what would a test look like for the function **testme**?
You can't just use the `feed_cli_with_input` method to solve this (in our opinion).

Sorry for bothering you with this, but our use case is more complex and we don't know how we should proceed here.

[2020-07-04 18:43] kiancross commented on #49
@Zethson Is there a reason you're not unit testing? This would be very easy if you were doing unit tests, but it sounds like you're trying to test your whole programme at once?

You could simply do `printf "\r50\r" | python3 example.py` to pipe some input into your example. You could then redirect the output of the programme to a file and compare that with the expected result.

If you want a pure

[2020-07-04 18:51] Zethson commented on #49
Yes, there is a reason for this.
We have nested functions which at different points of time in between pieces of code have questionary prompts.
Those functions have dependencies on each other, which cannot be mocked nor unit tested, since we require a final result.

We replaced click with questionary. Back when we were using Click, we did exactly what you recommended. We passed our main entry poin

[2020-07-04 19:29] kiancross commented on #49
@Zethson Well here is a super hacky way you could do it. Essentally just recreating what the pipe symbol (`|`) does in Bash, but in Python instead:

[code]

[2020-07-07 14:38] cwerner opened #51 "[Q] Is it possible to have checkbox choices spaced over multiple columns on screen?"
Hi.

I just found you lovely lib since I want to convert the custom CLI of an old app of mine to an more polished 3rd party lib.

Now, I want to use the checkbox() command and have two questions:
1) Is it possible to distribute the checkbox items over multiple columns on the screen? I have potentially about 50 options and could place them nicely in a table with say 4 columns...
2) Can I chain chec

[2020-07-26 20:46] nmstoker commented on #45
This also happens with the results from an "autocomplete" question.  Think it's the same cause (not applying the answer style to the final response, although in the autocomplete I also think styling is slightly off in general, as answer _is_ used to style the drop-down, which is not the way I think most people would expect)

[2020-08-10 13:50] shivams opened #53 "Return index of the selected choice"
Is it possible for questionary to return the index of the selected choice?

[2020-08-19 09:49] Yajo opened #54 "Multiline input"
I'd need an option to have multiline input.

Something similar to https://python-prompt-toolkit.readthedocs.io/en/stable/pages/asking_for_input.html#multiline-input

Is that possible or planned?

[2020-08-25 19:45] kiancross commented on #49
@Imipenem Glad it works. You could ask @Zethson To close this issue if it is all sorted?

[2020-08-25 19:47] Zethson commented on #49
Yes, we're a team
Thanks! 👍

[2020-08-25 19:47] #49 closed

[2020-09-08 10:56] kiancross commented on #53
This can already be done, as so:

[code]

[2020-09-08 10:58] #53 closed

[2020-09-08 10:59] kiancross commented on #51
It's not possible at the moment. Feel free to submit a PR.

[2020-09-08 11:05] kiancross commented on #45
Here is an example:
[code]

[2020-09-08 11:06] #50 closed

[2020-09-08 20:30] kiancross commented on #11
@BradenM Is this fixed now? I tried your example and it seemed to be behaving as expected? Might have been fixed by the `prompt_toolkit` project.

[2020-09-08 20:44] kiancross commented on #29
@halloleo Is this working on dumb terminals now?

[2020-09-09 02:09] halloleo commented on #29
Thanks. Will check it out in today or tomorrow.

[2020-09-11 22:13] BradenM commented on #11
👍 Can confirm, works as intended now. Thanks

[2020-09-11 22:13] #11 closed

[2020-09-14 17:27] lazee opened #57 "Pre-selected value in list"
Hi. I'm sorry if this has already been answered before...And thank you for questionary btw.

Is it possible in a select to have a preselected option? I have found the default-settings but it doesn't behave the way I would expect.

![image](https://user-images.githubusercontent.com/11016/93118049-f7838700-f6bf-11ea-8e94-da77f89423a4.png)
Here `review` is the default, but the marker stays on `test`.

[2020-09-15 00:41] kiancross commented on #57
I think this is a duplicate of #43? If so, I have implemented the behaviour in #56, and it is awaiting review.

The `default` parameter is actually something slightly different, it defines the value that is returned if no value is selected. However, this doesn't really make sense for a `select` input (it makes more sense for the `checkbox`, where a value is not required to continue).

@tmbo Is the

[2020-09-15 16:56] lazee commented on #57
Thank you @kiancross . Indeed it is a copy. I just didn't find it. Thanks for your answer.

[2020-09-21 11:21] tmbo commented on #57
Right, yes I think we should point at the default value :+1: I don't think we should return a default value on keyboard interrupt, as it signals the user wants to abort / go back.

I think there are two ways to define the selected value (either specifying a value for `default` or by marking the choice as selected in the array of choices), I think we should make sure that
- there isn't more than on

[2020-09-21 13:49] #45 closed

[2020-09-21 20:59] kiancross commented on #57
@tmbo In #56 I implemented the 'point at' behaviour by adding an `initial_value` field. Do you want to replace this with the `default` field, or remove the `default` field for `select` (obviously the `default` parameter does make sense for `checkbox` and it should remain for this type).

[2020-09-22 07:40] tmbo commented on #57
I think a default value makes the most sense for the select element (and would coincide with the pointed at element in this case). So I guess the least effort would be to adapt your or, use the logic to set the pointed at element but remove the parameter and only use `default`.

[2020-09-22 20:32] kiancross commented on #57
@tmbo Do you think it might be confusing that the same functionality is implemented using two differently named arguments (`default` and `initial_choice`) for `checkbox` and `select`? I think it would be nicer if they shared the same argument name, for consistency?

[2020-09-23 08:35] halloleo commented on #29
Hey, it works well now using questionary 1.5.2 and ptk 3.0.7. Thanks!

[2020-09-23 08:35] #29 closed

[2020-09-25 11:24] Yajo commented on #54
It seems that calling `questionary.text("tell me something", mulitline=True)` just works. What's missing:

- Help text that indicates the user to end with `Alt+Enter` or `Esc, Enter`.
- Docs.

[2020-09-25 11:33] kiancross commented on #54
@Yajo Nice find. I'm going to try and add some better documentation (#47). Feel free to send a PR in with help text, or I'll look at it when I get a chance.

[2020-09-25 12:17] Yajo commented on #35
I can see that the test suite has some interesting utils to test itself:

https://github.com/tmbo/questionary/blob/1a2c99bd0b3998bd04714ae1fd12fd26bd4b8464/tests/utils.py#L12-L77

How about bundling all those utils in `questionary` and documenting them a little bit, so downstream projects can test too?

Notice that some good answer to this might land in https://github.com/prompt-toolkit/python-pro

[2020-09-25 12:28] Yajo commented on #54
See #59 :gift:

[2020-09-25 18:23] tmbo commented on #57
well, I would say that the behaviour from a users perspective should be consistent for arguments that share the same name. so if we implement it in the way that,
- `default` sets the default return value of the prompt AND also points to the set item
- and `initial_choice` allows the user to overwrite the above
this seems pretty consistent. WDYT?

[2020-09-25 23:18] kiancross commented on #57
@tmbo I think ideally:

- we would remove `default` from the `select` type (seeing as it doesn't make sense);
- rename `initial_choice` to `selected` (I think this is a better name in hindsight).

However, this may break backwards compatibility for those already using the `default` parameter on `select` (probably not many people though, seeing as it doesn't really do anything at the moment).

[2020-09-26 03:01] Yajo commented on #57
Breaking backwards compatibility for something broken doesn't seem like a big issue for me... this is more a fix than a new feature. I agree with @tmbo.

[2020-10-01 19:59] tmbo commented on #57
I think there is no right or wrong here, both approaches would work. I'd go for the `default` argument, as it doesn't break compatibility (I'd also consider the default element not being selected a bug, I don't think there is any use case where this would be the expected behaviour).

[2020-10-01 20:22] #54 closed

[2020-10-02 00:24] layday opened #61 "Adopting a type checker"
I wonder if there would be any interest in adopting a type checker.  Questionary appears to be extensively annotated so this shouldn't prove too onerous.   The four established type checkers are mypy, Pyright, pytype and pyre - would you have a preference for one of those?

[2020-10-02 00:37] kiancross commented on #61
I think this is a good idea. I've used mypy before and it worked well.

[2020-10-04 14:33] #43 closed

[2020-10-04 14:33] #57 closed

[2020-10-04 14:55] layday commented on #61
The latest version of Pyright is able to assess a library's type completeness.  That is, it identifies public attributes which are not typed or only partially typed and calculates a 'completeness score'.  You can read more about this feature [here](https://mail.python.org/archives/list/typing-sig@python.org/message/7YIH76RKENGBSOER7Z4UWEGGO62UMS7Q/).  I ran this on the Questionary codebase and it

[2020-10-04 15:03] tmbo opened #62 "Release 1.6.0"
@kiancross do you want to do the honours of releasing 1.6.0? https://github.com/tmbo/questionary#developer-info

[2020-10-04 15:06] kiancross commented on #62
@tmbo Directly to the repo, or via a pull request?

[2020-10-04 15:28] tmbo commented on #62
feel free to do it on master :+1:

[2020-10-04 15:31] kiancross opened #64 "Fix broken image link in README.md"
The following link in README.md is broken: https://rasa.com/docs/_static/rasa_logo.svg

[2020-10-04 15:31] kiancross commented on #64
@tmbo Do you have an updated link?

[2020-10-04 16:00] tmbo commented on #64
good point - updated it on master :+1:

[2020-10-04 16:00] #64 closed

[2020-10-04 16:28] #62 closed

[2020-10-04 18:02] #61 closed

[2020-10-04 20:49] harens commented on #62
Hi there. Just to let you know that as of https://github.com/macports/macports-ports/pull/8634, on cue with your release, I've updated the portfile for questionary. You can find a summary page [here](https://ports.macports.org/port/py-questionary/summary).

I don't think I mentioned that I added your project to MacPorts when I wrote the portfile (sorry about that), but from `v1.5.2`, your project

[2020-10-05 20:06] lazee commented on #57
Thank you guys!

[2020-10-05 20:36] lazee opened #73 "Hiding cursor on select"
Is it possible to hide the cursor for a select? If not, could it be possible?

![image](https://user-images.githubusercontent.com/11016/95129233-03acb280-075b-11eb-9502-f69c8eb2ed4d.png)

Having the cursor there creates a visual distraction and I think also that it indicates that it is possible to type in text where the cursor is located.

[2020-10-06 16:06] Yajo opened #74 "Provide an unsafe version for prompt()"
This code: https://github.com/tmbo/questionary/blob/91facb2a78ab51855aae77d248f7b963c6cfc25a/questionary/prompt.py#L109-L113

It slurps user-cancellation undeniably.

It needs an `unsafe` argument that raises the proper exception.

[2020-10-11 11:57] Yajo commented on #35
I've been using `pexpect` successfully in https://github.com/copier-org/copier/pull/260 to test workflow. I recommend it, although it won't work on Windows as explained in https://github.com/prompt-toolkit/python-prompt-toolkit/issues/1243#issuecomment-706668723.

[2020-10-13 09:58] davnat opened #75 "Type hinting not working"
Hi, thanks for this library, it's very nice.

In my project `mypy` keeps complaining:

[code]
[code]
I've only been able to have `mypy` working by adding the `__all__` attribute to `questionary/__init__.py`, with all the needed exports.

Maybe I am missing something?

Thank you, cheers

[2020-10-13 11:28] lazee opened #76 "Validate_while_typing not working when select are included in questions"
When running a prompt with a series of questions, I normally will use the `validate_while_typing=False` parameter to avoid validation errors imidiately when people start typing. This comes as you know from prompt toolkit itself, and are not implemented by Questionary.

But as soon as I introduce a select, things will fail like this:

[code]

Giving the error:

[code]

It would be nice if turning v

[2020-10-14 09:19] davnat opened #77 "List[] arguments in API"
Hello,

TL;DR: Please consider using `Sequence[]` types in place of `List[]` types in the arguments of functions in the public API.

All questionary functions have argument types like `List[Union[str, Choice, Dict[str, Any]]]`: the problem is that `List`is invariant, so `mypy` complains if I pass e.g. a List[str]. The same happens with something like `a_dictionary.keys()`, because its type is some

[2020-10-14 13:53] layday commented on #75
Mypy expect symbols to be re-expected (i.e. `from questionary.prompts.select import select as select`) in strict mode, even for non-stub files. `__all__` has the same effect, as you've observed.

[2020-10-14 14:03] davnat commented on #75
Are you suggesting that I should re-export questionary symbols?

In any case, something like `from questionary.prompts.select import select as select` makes both flake8 and pylint complain (unused import, useless import alias), while `__all__` makes everyone happy, because it makes clear what's the purpose of the import.

[2020-10-14 14:07] layday commented on #75
No, I mean that they need to be re-exported in Questionary's `__init__.py`.

[2020-10-15 12:35] layday commented on #75
I pushed two commits to #68 which address this and your other issue should it be merged.

[2020-10-15 23:47] #75 closed

[2020-10-15 23:47] #77 closed

[2020-10-16 05:15] runwinged opened #78 "Does questionary support prompt_toolkit 3.0"
It seems prompt_toolkit 2.0 still
thanks

[2020-10-17 11:47] kiancross commented on #78
It supports both.

[2020-10-19 09:35] SteffenBrinckmann opened #80 "RunTime Error 'Application.run_async' was never awaited"
Hallo Questionary,
I have been using questionary for a while now, but when I started linking an additional lib,  a runtime warning/error gets triggered. (Although it is a warning it leads to immediate failure)
In the traceback there is mention of the ask_unsafe function. I wonder, can one from the python.api switch between the multiple ask functions that are available in question.py?

A short test

[2020-10-19 18:23] kiancross commented on #80
Hmm maybe a similar problem to prompt-toolkit/python-prompt-toolkit#1033?

[2020-10-19 19:54] SteffenBrinckmann commented on #80
I use Ubuntu 20.04 and python 3.8.
https://github.com/prompt-toolkit/python-prompt-toolkit/issues/1033, was talking about Win32.
I guess it is not similar, also there is no progress bar involved.

[2020-10-20 01:19] layday commented on #80
The crux of the issue is the same.  Library A (datalad) closes the default event loop. Library B (prompt-toolkit) attempts to use the default event loop after it was closed by library A.  Libraries have no business using or closing the default event loop.  As a stopgap you can run `asyncio.set_event_loop(asyncio.new_event_loop())` before every `prompt`.

[2020-10-20 01:40] layday commented on #80
prompt-toolkit attempts to account for this in https://github.com/prompt-toolkit/python-prompt-toolkit/blob/dd3e552c00ee44247144a7aa9cd0392a7206570f/prompt_toolkit/application/application.py#L806-L814 but calling `get_event_loop` does not raise if the default event loop is simply closed as the comment would suggest - it only raises if it's been previously set to `None`.  It might be intentional th

[2020-10-20 08:27] SteffenBrinckmann commented on #80
I played with different versions: prompt-toolkit 2.0.10 works perfectly.
3.0.8 does not work. This version is the one which has the PR that followed the issue https://github.com/prompt-toolkit/python-prompt-toolkit/issues/1033

I'm not sure how to handle it for my own software: make a requirement that includes the latest prompt-toolkit, or choose the stopgap mentioned before or use system-calls/pa

[2020-10-20 09:09] cwerner opened #81 "Is there a way to go back to last question by hitting a "back"-key (i.e. ESC)?"
Hi.

I do have a sequence of 5 checkbox queries the user needs to answer. Is there a way to tell questionary to go back to the previous question (i.e. using ESC or some other key) and pose the previous question again? Ideally, while preselecting the previous user selections?

Cheers
C

[2020-10-22 11:18] Yajo opened #82 "A long question only displays as many lines as the term height"
Just write a long question in a short terminal:

[code]

You have to resize the term to see the full question!:

![Peek 22-10-2020 12-16](https://user-images.githubusercontent.com/973709/96864631-00a70700-1469-11eb-9ceb-8a31276174cb.gif)

[2020-10-22 16:17] davnat commented on #80
I'm not sure it's the same issue, but at least it seems related.

Pasting this in `test.py`
[code]
and running `python3 -m test.py` (within an activated venv with the relevant packages), yelds:
[code]

[2020-10-22 16:24] layday commented on #80
That's because `ask` will start the main loop via prompt-toolkit before `asyncio.run` is able to.  Use `ask_async` if you want to invoke Questionary asynchronously:

[code]

[2020-10-22 16:56] davnat commented on #80
Thanks for your quick response.

Unfortunately in my use case it doesn't make sense using the async API, because all questionary calls need to be synchronous.
Also, I'm not really calling questionary directly (the test above is an oversimplified example): I need to support different toolkits, so I created a wrapper around questionary. To call the async API I'd need to expose it in the wrapper, wit

[2020-10-22 17:04] SteffenBrinckmann commented on #80
The stopgap "asyncio.set_event_loop(asyncio.new_event_loop()) before every prompt" works perfectly for me.

[2020-10-22 17:04] #80 closed

[2020-10-22 17:35] davnat opened #83 "Synchronous questionary calls in an async function"
Hello,
Is there a way to run synchronous questionary calls in an async function?
I need to make something like this work:
[code]
In my application I'm not calling questionary directly (the test above is an oversimplified example): I need to support different toolkits, so I created a wrapper around questionary.
I know questionary has an async API, but I'd need to expose it in the wrapper and add `a

[2020-10-29 15:52] BramVer opened #85 "Print an output line with question styling"
I tried going through the README, issues, examples and code, but couldn't really find a way.
It's a bit weird to have a question and input that's nicely styled, and then as soon as I need to print something (like a confirmation, or just extra information), it falls out of style.

One could argue it's not in the scope of this project, but I believe it's related enough (and should be easy enough to

[2020-10-29 21:16] kiancross commented on #82
What do you think the expected behaviour should be?

[2020-10-29 21:19] kiancross commented on #81
Don't think this is possible at the moment.

[2020-10-29 21:24] cwerner commented on #81
I added a hack to checkbox that adds a dedicated 'BACK' token to the return list if the back key (b) is hit. Outside, I wrap it into a while loop...

[2020-10-31 08:55] tmbo commented on #85
That is a good point, but there are quite a number of libraries out there that allow to pretty print with color. An alternative would be to use promt-toolkit directly to print messages, which I think should be easy enough as well. If you provide a PR I'd say it is something we can add though 🙂

[2020-10-31 09:01] tmbo commented on #83
I am not quite sure I fully understand your example, using await should do what you need, shouldn't it:
[code]

[2020-10-31 09:02] tmbo commented on #81
Interesting, I think this might be something nice to add :+1:

[2020-10-31 09:03] #78 closed

[2020-10-31 12:14] Yajo commented on #82
One possibility would be that the question is printed completely, and user can use <kbd>shift</kbd>+<kbd>PgUp/Down</kbd> to scroll it, just like a normal term.

Other possibility would be that some keys scroll just the question part. Or a scroll bar usable with mouse...

In any case, the user should be able to read the whole question.

[2020-10-31 12:54] davnat commented on #83
In my use case I don't need to do asynchronous questionary calls.
Nevertheless, I'm using both sync and async functions in my code (in different projects using the wrapper).

The problem is: inside an async function I am forced to use the questionary async API, while in theory a synchronous call should be perfectly legal, AFAIK.

This forces me to provide 2 nearly identical wrappers, one sync and

[2020-10-31 13:16] tmbo commented on #83
you can create wrappers which work async and sync, e.g. this is a decorator that can be used for `async def` and `def` functions:
[code]

[2020-10-31 13:18] tmbo commented on #82
mhm yes this does sound a bit more tricky 🤔

[2020-11-01 13:34] davnat commented on #83
Maybe I'm missing something here, but I don't need a wrapper with both a sync and an async APIs: I only need the sync one.

The problem I'm facing is that the sync interface to questionary still uses an asyncio loop internally (from prompt-toolkit, I suppose), and it does not work if called inside an `async def` function, i. e. it's not really synchronous.

[2020-11-01 14:02] layday commented on #83
prompt-toolkit always runs in a loop - you cannot divorce it from asyncio.  The question then becomes how do you await an async function from a synchronous function from inside the loop (i.e. from another async function) without calling `asyncio.run` or equivalent, and I don't think asyncio has that kind of facility.

[2020-11-01 14:46] davnat commented on #83
@layday, if I understand correctly, you are saying that what I'd like to do cannot be done (without using additional tricks like [nest-asyncio](https://github.com/erdewit/nest_asyncio)).

In this case, I would suggest that maybe questionary (and prompt-toolkit) should only have an async API (and possibly some utilities to use it in sync code, because obviously the python world is mostly synchronou

[2020-11-02 10:32] BramVer commented on #85
Sorry for getting back to you so late.
Yeah there are alternatives out there already, but then you'd have 2 libraries where one is to `say` and other to `ask` stuff.
Getting the styling to be similar would be a timesink then as well :)

Nice to see you've already been implementing this!

[2020-11-02 22:02] kiancross commented on #47
@tmbo What do you think about creating a [Read the Docs](https://readthedocs.org/) style of documentation for this?

[2020-11-06 14:22] layday commented on #83
Well, trivially, you can run Questionary synchronously in a separate thread and prompt-toolkit will spawn a loop in that thread:

[code]

[2020-11-08 11:11] #7 closed

[2020-11-08 11:12] #74 closed

[2020-11-08 11:12] #76 closed

[2020-11-08 11:12] #85 closed

[2020-11-08 11:12] #44 closed

[2020-11-08 11:12] #73 closed

[2020-11-08 11:25] tmbo commented on #47
@kiancross yes I think that is a great idea. I think we got to a point where, even though need, the readme documentation is growing beyond being easy to navigate :+1:

[2020-11-08 12:33] kiancross commented on #47
@tmbo Ok I will have a look at this in a few weeks when I have some more time :)

[2020-11-17 18:45] BradenM opened #88 "Recent Breaking Change to Choice Api"
A breaking change was made to the Choice object api at some point between questionary versions 1.6.0 and 1.8.0 when specifying the `value` parameter.

Previously, in v1.6.0, the expected behavior was for the selected choice to return the provided `value=` "as is" with no modifications.

However, in v1.8.0, anything passed to `value` is now type cast as a string, leading to breaking changes for app

[2020-11-17 19:22] #88 closed

[2020-11-17 19:23] tmbo commented on #88
Thanks a lot for bringing this up, this seemed to have been a regression in 1.8.0

I've added a test for this as well as a fix. If the build passes, I'll tag a 1.8.1 release with a fix.

[2020-12-05 11:27] teaphi opened #90 "A little suggestion"
I have a suggestion. Add an optional parameter to the function so that after the user answers the question, the `?` in the title can be converted into a custom character.

-Translated by Google

[2020-12-05 11:42] teaphi commented on #90
For example, the title originally looked like this: `? hello!`, after the user answered the question, it became like this `- hello!`

--Translated by Google Translate

[2020-12-05 13:40] teaphi opened #91 "checkbox() bug - Single selection but many options with the same name"
Single selection but many options with the same name
[code]

[2020-12-05 13:51] teaphi commented on #91
3. When displaying Chinese characters, the space between the circle and the Chinese characters disappears
[code]
4. Use special methods to insert special characters (such as `Ctrl + V`,also,`Ctrl + V` will be displayed in blue)
[code]

-- Translated by Google Translate

[2020-12-05 16:04] kiancross commented on #91
Thanks for reporting these, @teaphi. It would be helpful to make separate issues for each report - then we can track them individually.

Thanks, I can reproduce this.

Can you describe the output that you are getting and the output you expect? When I run your example I see the following output:

![Screenshot from 2020-12-05 15-54-35](https://user-images.githubusercontent.com/11011464/101247629-926

[2020-12-05 23:28] teaphi commented on #91
First of all, thank you very much for your reply.
For the second and third questions, I think you may need to move the cursor multiple times to reproduce it.
In addition, I have not tested these problems on Linux.

--Translated by Google Translate

[2020-12-05 23:44] teaphi opened #92 "Checkbox prompt text overlaps on Windows"
Text overlap
[code]
![GIF 2020-12-6 7-43-32.gif](https://i.loli.net/2020/12/06/1nW8aAsRg45hqcr.gif)

[2020-12-05 23:51] teaphi opened #93 "checkbox() bug - When displaying Chinese characters, the space between the circle and the Chinese characters disappears"
When displaying Chinese characters, the space between the circle and the Chinese characters disappears

[code]

![_6IGJZ_G_M_9OK_9L_AJ29I.png](https://camo.githubusercontent.com/6b85fa179e161831f47a2e28505cdbf5e59b68147b03685d544e9ee6c7d26be5/68747470733a2f2f692e6c6f6c692e6e65742f323032302f31322f30352f54793745445931634d5072434135422e706e67)

![GIF 2020-12-6 7-49-05.gif](https://i.loli.net/2020/12/

[2020-12-05 23:54] teaphi commented on #91
I have split the first three questions. They are #91 , #92 , #93 (the fourth problem should be a Windows problem, so there is no split).

Thanks again!

--Translated by Google Translate

[2020-12-06 15:28] kiancross commented on #93
Cannot reproduce this on Linux - potentially a bug isolated to Windows.

[2020-12-06 15:28] kiancross commented on #92
Cannot reproduce this on Linux - potentially a bug isolated to Windows.

[2020-12-06 15:29] kiancross commented on #92
@teaphi Which version of prompt_toolkit are you using?

[2020-12-06 15:30] kiancross commented on #91
Thanks - I can reproduce this one.

[2020-12-06 22:10] HelloGwkki commented on #92
@kiancross 3.0.8

[2020-12-11 10:13] WilliamStam opened #94 "Enhancement - let choices be a dictionary of {key:value}, shows value but answer is key"
would be cool if this could work like a `<select>` box. having an id and a label type thing. right now it just returns the selected text and using this trick https://github.com/tmbo/questionary/issues/53 you could get what index you need but that now means setting up 2 lists, 1 with the label and another with the id of the selected choice and then going through the motions of getting the index of

[2020-12-11 10:23] WilliamStam commented on #94
(sorry i pressed enter by mistake)

[2020-12-14 17:10] kiancross commented on #47
@tmbo Do you have any preference over using Read The Docs vs GitHub pages to host the documentation?

[2020-12-14 17:23] tmbo commented on #47
mhm no not really, I think either one is fine 👍

[2020-12-14 22:12] kiancross opened #95 "Clicking the license link in the badges at the top of the README goes to error page"
Clicking the license link at the top of the README goes to an error page.

https://app.fossa.io/projects/git%2Bgithub.com%2Ftmbo%2Fquestionary?ref=badge_shield

The same thing happens when clicking the license badge at the end of the README.

![Screenshot from 2020-12-14 22-11-13](https://user-images.githubusercontent.com/11011464/102141843-62786180-3e59-11eb-9b72-6061d3f0e4a4.png)

[2020-12-17 20:03] WilliamStam commented on #37
im also finding this to be a bit out of place. agree with the suggestion

[2020-12-19 00:23] kiancross commented on #91
A smaller broken example:

[code]

Having a look at this bug at the moment.

[2020-12-19 00:47] kiancross commented on #91
@teaphi If you would like choices with the same titles, you can do this:

[code]

They can be selected individually.

`title` is the text that is displayed to the user, whereas `value` is the key used internally to differentiate options (so must be different).

[2020-12-19 00:47] #91 closed

[2020-12-19 00:54] kiancross commented on #94
@WilliamStam I think you can already do this:

[code]

[2020-12-19 09:25] WilliamStam commented on #94
wow. ok thanks! i seriously tried a ton of things to get it to work. eventualy settled on a hack of

[code]

which pretty much makes the "title" `3 | name of instance` then strip it based on the pipe char to get the "id" of the value.

this changes EVERYTHING! thank you!

[2020-12-19 09:27] #94 closed

[2020-12-19 13:56] #37 closed

[2020-12-19 16:01] #47 closed

[2020-12-20 16:10] kiancross commented on #95
Fixed in https://github.com/tmbo/questionary/commit/32c79da80fbd3e23face9aa41f3463165d777f23.

[2020-12-20 16:10] #95 closed

[2020-12-21 18:21] mBouamama opened #102 "Change shortcut"
Hi,
I use `rawselect`:
[code]
How can i change shortcut for changing my choice? By default it's 1,2,3 but i want to use ⬆⬇
Regards.

[2020-12-22 09:58] ElieDeloumeau opened #103 "Configure SELECTED_POINTER"
Hello,

Is there a way to configure `SELECTED_POINTER`?

[2020-12-22 16:52] kiancross commented on #102
@mBouamama You'd be better of using a [`select`](https://questionary.readthedocs.io/en/stable/pages/types.html#select) instead.

[2020-12-22 17:01] kiancross commented on #103
It's not possible at the moment, but it would be a nice enhancement.

[2020-12-22 17:04] mBouamama commented on #102
thx

[2020-12-22 17:04] #102 closed

[2020-12-23 11:20] #103 closed

[2020-12-27 17:24] mBouamama opened #105 "Group choices with select?"
Hi @tmbo,
I have a question can i customize select, i want to group somes choices and create category its possible?

**actually**:
[code]

**wanted**:
[code]
Thx for your amazing work, If you have any questions don't hesitate.
Regards.

[2020-12-27 17:32] kiancross commented on #105
See this example: https://github.com/tmbo/questionary/blob/master/examples/select_restaurant.py

You would do something like:
[code]

[2020-12-29 13:44] mBouamama commented on #105
Thx mates!!!

[2020-12-29 13:44] #105 closed

[2020-12-31 03:47] IvoryJam opened #106 "when choices are an int, fails with AttributeError: 'int' object has no attribute 'get'"
questionary version 1.9.0
Python version 3.9.1
Linux kernel 5.9.16

Code to reproduce
[code]

[2020-12-31 16:11] kiancross commented on #106
Choices should be either strings or a [`Choice`](https://questionary.readthedocs.io/en/stable/pages/api_reference.html#questionary.Choice) instance. So you could do this instead:

[code]

[2021-01-07 18:19] #106 closed

[2021-01-14 13:47] ewels opened #107 "ANSI colours for prompt title"
Hi there,

Is it possible to give colours and formatting using ANSI codes to a questionary prompt title?

I am using the following code to generate prompts:

[code]

I show the default value and other helpful information in the `nice_title` which is not passed through to the underlying response. This works brilliantly - I'd just like to be able to add some formatting to this.

### Manual ANSI code

[2021-01-14 15:03] kiancross commented on #107
Hi Phil,

You're very close with `FormattedText`. I think this should do what you want:

[code]

[2021-01-14 15:27] ewels commented on #107
Ah fantastic - thank you so much! I've been fighting on and off with this for a while now, your little example brings it all together!

Implemented and working great in no time once I had that pattern. Thank you!

[2021-01-14 15:27] #107 closed

[2021-01-20 15:19] layday opened #109 "Suggest relaxing Python version constraint"
Seeing as this is a pure Python package, would you consider relaxing the Python version constraint so that it at least allows for the package to be used with the next Python version?   Packages which depend on Questionary could then be tested with Python pre-releases without having to pass `--ignore-requires-python` to pip.

[2021-01-21 18:24] tmbo commented on #109
@layday that is a good point :+1: let's do that. do you mind creating a PR?

[2021-01-22 16:57] #109 closed

[2021-01-30 13:51] lyz-code commented on #35
I've gathered a small example using @Yajo 's method [here](https://lyz-code.github.io/blue-book/coding/python/prompt_toolkit/#using-pexpect) in case anyone is as lost as I was some hours ago.

[2021-01-31 12:35] gresnick opened #112 "Support async/callables for choices argument"
Currently, the `choices` argument must be a `Sequence`. The generation cost of this sequence can be high (e.g. IO bound, such an API call) which are called upon creation of the prompt and can create a latency to the start of script. In some cases, the prompt may be conditional and may never even be displayed.

Consider this example:

[code]

In this example, if the `confirm` stage returns `True`,

[2021-02-01 19:08] danalvarez commented on #81
Would be tremendously useful to be able to go back to previous question. Looking forward to this possible enhancement!

[2021-02-08 10:06] kozzza opened #113 "Background color of Powershell does not change for questionary prompt"
Upon running a questionary prompt, the background color does not change even though the Powershell background color has changed.

Reproduction:

[code]

Result:

![image](https://user-images.githubusercontent.com/21047756/107204848-08f06700-69b2-11eb-9daf-2596ac31960c.png)

Another problem I found is that the pointer does not display on Powershell because it's a special character, but perhaps that

[2021-02-10 17:07] bosd opened #114 "[IMP] Multiline instruction by changing to Finish with 'Alt+Enter' or 'Esc THEN Enter'"
Suggestion to make the multi-line instruction more clear by changing from:
`(Finish with 'Alt+Enter' or 'Esc, Enter')\n>`
to
 `(Finish with 'Alt+Enter' or 'Esc then Enter')\n>`

in
https://github.com/tmbo/questionary/blob/11ceb8e270457113eb40ef1603fbd888ef500b5e/questionary/constants.py#L16

[2021-02-10 17:10] kiancross commented on #113
Thanks for reporting. When I get a chance I'll get on Windows and have a look :)

[2021-02-10 23:44] kozzza commented on #113
Great

[2021-02-11 15:59] tmbo commented on #114
great suggestion, do you mind proposing a pull request to fix it?

[2021-02-11 20:02] bosd commented on #114
Opened a PR.
Item was discussed in https://github.com/copier-org/copier/issues/344#issuecomment-775332811

Will open a PR as well on my highly opinionated pointer 👉, to improve readability on High-res displays.
(will see if there is interest to get it merged)

[2021-02-11 20:21] #114 closed

[2021-02-12 14:38] info-rchitect opened #117 "Does this work with Jupyter Notebook?"
Hi,

I love this library and use it in standalone scripts all the time.  I ported one of my scripts to Jupyter Notebook and I am getting the following errors:

[code]

Any help is appreciated is greatly appreciated.

[2021-02-12 19:38] kiancross commented on #117
I don't think it is possible. Questionary uses [`prompt_toolkit`](https://github.com/prompt-toolkit/python-prompt-toolkit) under-the-hood and an issue (https://github.com/prompt-toolkit/python-prompt-toolkit/issues/1066) over there explains that it does not work on web-based frontends.

[2021-02-12 20:16] info-rchitect commented on #117
@kiancross Thanks for the link!  Such a pity :/

[2021-02-12 20:16] #117 closed

[2021-02-15 11:09] rojerian opened #118 "Problem using questionary within a jupyter notebook (Bug, Feature or User ?)"
The following code …

[code]

… in a jupyter notebook cell, when run, throws the error …

`RuntimeError: This event loop is already running`

Can questionary be used within a jupyter notebook at all and, if so, how best to configure ?

Thx

[2021-02-15 14:05] kiancross commented on #118
This was asked a couple of days ago in #117 :) Unfortunately the answer is no, because `prompt_toolkit` doesn't support it: https://github.com/prompt-toolkit/python-prompt-toolkit/issues/1066.

[2021-02-16 10:29] info-rchitect opened #119 "Any support for editor question type similar to pyinquirer?"
Hi,

I have a use-case where I want the user to enter N lines of SQL.  Are there any plans to add an editor mode similar to PyInquirer?

thx!

[2021-02-16 11:39] kiancross commented on #119
That would be a nice feature to add - will leave this open as a feature request.

Does using a `multiline` [`Text`](https://questionary.readthedocs.io/en/stable/pages/types.html#text) input help at all in the meantime?

[2021-02-16 13:50] info-rchitect commented on #119
@kiancross Yes multiline worked fine for me, thx

[2021-02-18 12:58] tmbo commented on #118
I'd agree though @rojerian if we could make this work transparently 🤔

[2021-02-19 09:46] WilliamStam commented on #57
how dos this get used? i think im doing something wrong in my app :(

[code]

throws an error

[code]

[2021-02-19 12:29] kiancross commented on #57
@WilliamStam Haven't tested your particular example, but the line that says `default="test2"` should be `default=menu_list[1]` I think :)

[2021-02-19 18:40] marmstr93ng opened #120 "Allow start point of file path to be specified"
Is there a way to specify a predefined start point when using the File Path type? For example, the user should always begin at 'C:\Users\x.xxxx\Documents' and navigates from there.

Thanks!

[2021-02-20 10:42] WilliamStam commented on #57
that does actually work, thank you! seems slightly counter intuitive tho in a way lol

[2021-02-22 00:42] kiancross commented on #120
You might be able to use a combination of the `validate` and `file_filter` options (see [here](https://questionary.readthedocs.io/en/stable/pages/types.html#file-path)) to get something close to this.

[2021-02-22 20:04] marmstr93ng commented on #120
Yes, I looked into both of these options but as far as I can tell that solution still requires the user to type in the path from the beginning (requiring knowledge of the path's existence). A workaround is to include the start portion of the path in the question that the user then copies (it's a bit of hack). The File Path question type has no instruction parameter so including it in the question

[2021-02-22 20:05] kiancross commented on #120
I've added the enhancement tag, as this would be a nice feature to have!

[2021-03-08 13:09] GalPressman opened #121 "Date input?"
Would be cool if there was an intuitive way (kinda like the file path) to query a date/time.

[2021-03-08 20:01] kiancross commented on #121
Nice idea!

[2021-03-13 23:48] bastienboutonnet opened #122 "How to terminate app using ask() on keyboard interrupt?"
When usinq the `Question.ask()` method, a keyboard interrupt is caught and replaced by a stout message.

I am looking to cause my app to terminate on user interrupting. Not sure what would the best way to cause this behaviour given that the logger message isn't easily catcheable as an exception would.

Is there a neat way to do that? I can think of capturing the stout and generating my own excepti

[2021-03-14 16:56] kiancross commented on #122
Hey :) You can call [`unsafe_ask`](https://questionary.readthedocs.io/en/stable/pages/advanced.html#unsafe), which does not catch the keyboard interrupt. Hope that helps.

[2021-03-14 22:44] bastienboutonnet commented on #122
Oh yeah! I didn't look at the implementation of that method at all because unsafe made me think it would be a lot more unsafe than that but I just looked at the source code and yeah it seems `unsafe_ask()` is exactly what I was talking about helping to build into `ask()`.

Thanks a lot for the `prompt` reply --I know dad joke that I'm sure no one has ever made before...

[2021-03-14 22:48] #122 closed

[2021-04-27 08:10] mosfetish opened #123 "Print select/rawselect as values with additional text?"
I have a dict with codes as keys and strings as value:

[code]

And I want this to appear in the select as:

123  Helper text for this code
456  Helper text for this code
789  Helper text for this code

So that when the choice is made for 456, only the value 456 is returned.

Is this possible? All I get from this now is the keys of the dict displayed as the list of choices.

[2021-04-27 12:55] kiancross commented on #123
This should work:

[code]

[2021-04-27 22:42] mosfetish commented on #123
Thanks. Worked. Closed.

The docs could be a bit clearer on the Choice Object, perhaps with more examples of how to populate it.

[2021-04-27 22:43] #123 closed

[2021-04-27 23:53] mosfetish opened #124 "Default select value not working with values from interable"
For dict:

[code]

This:

[code]

Produces error:

"ValueError: Invalid `default` value passed. The value (`789`) does not exist in the set of choices. Please make sure the default value is one of the available choices."

Default choice works when code is reduced to:

[code]

[2021-04-28 00:16] kiancross commented on #124
The `default` value needs to be the same type as used in the `choices` iterable.

In your second example, `choices` is a list of strings and so `default='789'` is valid. However, in your first example, you are mixing `Choice` instances and strings. Instead, you can do something like this:

[code]

[2021-04-28 01:05] mosfetish commented on #124
Thanks for the quick reply. I'm not sure I'd have worked that out anytime soon since I got a valueError and not a typeError.

[2021-04-28 01:21] #124 closed

[2021-04-28 01:23] kiancross commented on #124
In the general case, the `choices` iterable can be a mixed list, for example, containing strings and `Choice` instances.

So I think a `ValueError` is correct, as we are checking if the given `default` value exists in the `choices` array (rather than checking if the type is the same).

[2021-05-13 12:34] Yajo opened #126 "Support choices with None value"
Unexpected behavior:

[code]

Expected behavior: pass that assertion

[2021-05-13 14:48] kiancross commented on #126
I think this is the expected behaviour - when `value` is not set, it takes the value of `title`.

https://github.com/tmbo/questionary/blob/3556d33238675808b19f27b8ab0584ed3eaa02a8/questionary/prompts/common.py#L82-L83

The docs could probably be clearer about this. Is there is a use case for changing this behaviour?

[2021-05-13 21:23] Yajo commented on #126
Well... it means a regression in copier from a previous version that wasn't using questionary, but I'm thinking it's probably an absurd use case anyway.

Maybe some better docs would be enough.

[2021-05-13 22:03] kiancross commented on #126
I'll add this to the docs in a couple of weeks when I go through some of the other issues :)

[2021-06-04 23:55] ewels opened #127 "Allow arbitrary paths to be displayed in file path input"
I'm building an interface where the user is querying a remote file system. I love the File Path prompt and would like to use it, but here the files are not local.

It would be great if there was an option to provide an input with available file paths to use in the prompt.

[2021-06-05 14:03] #126 closed

[2021-06-06 00:07] #119 closed

[2021-06-06 00:08] kiancross commented on #119
Closing as already implemented using the `multiline` option.

[2021-06-10 11:31] WilliamStam commented on #124
dealing with this again so looked if anything has changed. think the issue is that this isnt "intuitive". (related to https://github.com/tmbo/questionary/issues/57)

i think "default" should first check if the object is a Choice instance (to keep backwards compatibility) if its not then if the value is in the list of choices select that choice if not then throw the error.

not enjoying having to k

[2021-06-11 15:00] WilliamStam commented on #120
just incase this might help (or help others)..

what you could maybe consider doing is something like:
[code]
if you select folder 2 it then appends it to the "folder" path (from where you start) every time you select a folder so like find folders in "current" folder. list them as select options. once you select "use this folder" it then uses the current folder.

[2021-06-20 12:19] kiancross opened #132 "`default` argument on `select` behaves differently when `Choice` is used"
In this example, the title 'Bar' is highlighted:
[code]

In this example, the title 'Bar' is highlighted:
[code]

In this example, the title 'Bar' is not highlighted:
[code]

The latter should either throw an error or behave the same as the first two examples.

[2021-06-22 07:26] SchoolGuy opened #133 "Allow None as a default value for a prompt"
According to https://questionary.readthedocs.io/en/stable/pages/types.html the `default` key is there for the case that the user just hits enter, currently Questionary just exits with a `TypeError` when `default` is `None`.

Questions:
[code]

Above code has been taken from: https://github.com/cobbler/libcobblersignatures/tree/feature/pretty-print

CLI Stacktrace
[code]

[2021-06-22 16:54] layday commented on #109
With the release of Python 3.10 approaching, would it be possible to release a new version with the constraint lifted?

[2021-07-05 04:58] MAD-py commented on #133
I have been looking at this case and what I see is that all the questions that require a text type answer evaluate the size of the answer to know the position of the cursor.

When you look more to detail all the documentation or the code you realize that in this type of question the default value is defined as empty str and does not allow it to be None, in my opinion it is a mistake that you try t

[2021-07-05 08:23] SchoolGuy commented on #133
@MAD-py Well if that is correct then that would mean we should still document it. Because that means that we can only set non nullable str as default values and that is indeed that not a full default...

[2021-07-05 13:11] kiancross commented on #109
I'll try to sort out a couple of the PRs first - but at the latest, I'll create a new release at the end of this week.

[2021-07-05 13:21] layday commented on #109
Thanks!

[2021-07-05 14:53] kiancross commented on #133
`default` is an optional argument, but that doesn't necessarily mean it should accept `None`; so I don't think this is a bug.

In this case, if set, `default` takes a string. I suppose the documentation could be updated, however, I think this is implicit by the parameter being typed as `str`.

[2021-07-05 15:19] SchoolGuy commented on #133
Hm okay, then I will close this issue. Thanks for the clarification.

[2021-07-05 15:19] #133 closed

[2021-07-10 00:01] kiancross commented on #83
I think @layday's last comment resolves this so I will close the issue. Please let me know if I am mistaken and I can reopen.

[2021-07-10 00:01] #83 closed

[2021-07-10 00:07] kiancross commented on #127
I think this can be done fairly easily by allowing a [custom completer](https://python-prompt-toolkit.readthedocs.io/en/master/pages/asking_for_input.html?highlight=completer#a-custom-completer) to be passed to the file path input:

https://github.com/tmbo/questionary/blob/2979fb8c6404f69112e8ebf918f9a2b29a310b45/questionary/prompts/path.py#L160-L162

The custom completer can return any path desir

[2021-07-11 23:57] MAD-py opened #138 "Handling of dict in the defaults for multiselect"
This issue is to continue with the conversation that was generated in the PR #134

[2021-07-12 16:29] #132 closed

[2021-07-15 10:11] kiancross commented on #109
@layday FYI new version is now released: https://pypi.org/project/questionary/1.10.0/.

[2021-07-22 11:47] ThanrayTian opened #151 "highlight no effected when use customize choice title style"
https://github.com/tmbo/questionary/blob/ac887f03d8ab35ab0eaeea5d49f78337de097974/questionary/prompts/common.py#L380

maybe merge `class:highlighted` to every item better.

example:
`title = [
    ("class:a", "user"), ("class:b", "age")
]`
after merge:
`title = [
    ("class:a class:highlighted", "user"), ("class:b class:highlighted", "age")
]`

[2021-08-02 08:48] tmbo commented on #151
@ThanrayTian that sounds reasonable - do you mind proposing a fix in a PR?

[2021-08-09 17:18] pickmylight opened #153 "Windows style path-prompt validation fails"
Hi tmbo,

first of all: thanks for the great documentation!
I want to know, wether there is any workaround for windows style file paths in path-prompts when validating. I tried basically everything. From splitting the path and then rejoining with 'os.path.join' to binary converting. Everytime the same error: FileNotFoundError.
There are slight differences in what the path is: Sometimes it is the f

[2021-08-10 10:01] pickmylight commented on #153
Never Mind. Got a workaround for doing the validation checks with folder contains. Might even try to make a PR with a PathValidator just intended for this usage.

[2021-08-10 10:01] #153 closed

[2021-08-16 10:28] jakubkazimierczak opened #154 "`\t` shows as `^I`"
Hello!

# The problem
I cannot print `\t` within my choice strings. Here's the code:
[code]
results in:
[code]
As you can see an `^I` is displayed instead of the `\t`. Is there a fix that I can apply on my side?

[2021-08-22 08:32] tmbo commented on #154
@jakubkazimierczak can you provide a little more information about your environemnt? e.g. what operating system / command line are you using?

[2021-08-22 19:23] jakubkazimierczak commented on #154
Sure! My environment is:
* Windows 10 21H1
* Python 3.9.2

The package and it's dependencies:
[code]

This occurs both in Powershell and CMD:

![image](https://user-images.githubusercontent.com/77862767/130367353-a87dd3fa-00bb-41a8-93e6-be0af207c7c0.png)

[2021-08-22 20:16] kiancross commented on #154
Thanks for reporting. I can also reproduce this on Linux.

It looks like this is an issue with Prompt Toolkit: prompt-toolkit/python-prompt-toolkit#556.

By using the tab character, are you hoping to get proper alignment between columns? An easy solution is to just replace the tab character with a space, but I assume this wouldn't do what you want?

[2021-08-23 15:10] YashDjsonDookun commented on #92
I assume this has been fixed since I can't seem to replicate this issue on my windows machines.
I believe this can be closed. 👍

[2021-08-23 16:36] kiancross commented on #92
@YashDjsonDookun Which version of prompt toolkit are you using? I will double check on Windows tonight too.

[2021-08-24 23:15] jakubkazimierczak commented on #154
I could use such workaround, although this isn't a real solution. Should I report this issue to the prompt toolkit and close this one?

[2021-08-25 11:43] amcsparron2793-Water opened #162 "Questionary Pycharm run command throws error"
### Question

when using Pycharm as an IDE, my scripts throw an error - NoConsoleScreenBuffer specifically. i can work around this by running the file directly in PowerShell or CMD, but would be nice to be able to use the built in run command when debugging etc.

### What have you already tried?

Work around is to run directly in Powershell or CMD.

### Read the documentation

- [X] I have checked

[2021-08-25 15:09] kiancross commented on #154
By using the tab character, are you hoping to get alignment between columns in each row? Or are you just trying to get a tab-sized space to appear?

[2021-08-25 15:53] kiancross commented on #162
Hi @amcsparron2793-Water. Can you try enabling the `Emulate terminal in output console` option in Pycharm. You can see a screenshot of this option here: https://github.com/prompt-toolkit/python-prompt-toolkit/pull/396#issuecomment-701643529.

[2021-09-01 13:50] boeddeker opened #166 "dict for choices in questionary.select"
### Describe the problem

I hit now several times the problem, that I wrote wrong code like
[code]
This example prints `yes` or `no`, while I expected `You answered yes` or `You answered no`.

### Describe the solution

Add a type check to `questionary.prompt..InquirerControl._init_choices` and convert a `dict` to `[Choice(k, v) for k, v in choices.items()]`.

For me, it feels natural, that the di

[2021-09-04 15:00] kiancross commented on #166
Hi @boeddeker. I think the main problem is that in Python < 3.6, a dict is not neccaserily ordered. So there could be unexpected results for users on older Python versions. What do you think?

As an alternative, you could add a help function in your own code to solve this.

[code]

[2021-09-06 07:17] boeddeker commented on #166
Hi, thanks.
My personal highlight of this package is, that it is easy to use.
This makes it slightly less trivial to use.

According to https://endoflife.date/python , python 3.5 reached last year end of life and 3.6 is close to end of life.
Since cpython 3.6 has the implementation detail of ordered dict, I was hoping that it doesn't produce issues,
to allow dicts.

How about producing a TypeError

[2021-09-09 15:06] 84matte84 opened #167 "additional input for validation"
### Question

Hi all,

I was wondering how is it possible to pass additional values to the validation functions.
As an example, how to modify the password_validator function given in the examples such that it becomes

  import re
  import questionary

  def password_validator(password, additional_input):
         .....

### What have you already tried?

I tried to play with **kwargs but with no su

[2021-09-09 21:55] kiancross commented on #167
Can you give an example of what `additional_input` would be? What else is there to pass to the validator, other than the password?

[2021-09-09 22:23] 84matte84 commented on #167
It can be for example the length of the password or a list of character that can/cannot be used within the password but I don’t want to have a different validator for each of those possibilities.

Thanks
On 9 Sep 2021, 23:56 +0200, Kian Cross ***@***.***>, wrote:

[2021-09-09 23:14] kiancross commented on #167
You can use a lambda function to wrap around the call to `password_validator` and pass additional parameters.

E.g.

[code]

[2021-09-10 15:20] 84matte84 commented on #167
it worked!! thanks a lot and sorry for the dumb question. :D

------ Original Message ------
From: "Kian Cross" ***@***.***>
To: "tmbo/questionary" ***@***.***>
Cc: "84matte84" ***@***.***>; "Author"
***@***.***>
Sent: 9/10/2021 1:15:06 AM
Subject: Re: [tmbo/questionary] additional input for validation (#167)

[2021-09-11 11:10] #167 closed

[2021-09-14 20:20] jvickroy opened #170 "autocomplete choice colors not readable"
### Question

**autocomplete** choices are rendered as light yellow text on a white background.  This is unreadable; how can the colors be reset?
Thanks,
/jim

### What have you already tried?

I do not know what to try.  Documentation for **autocomplete**  parameters does not appear to address this.

### Read the documentation

- [X] I have checked to ensure that my question is not answered by th

[2021-10-03 15:12] szemek commented on #170
@jvickroy you need to use `style` argument
https://questionary.readthedocs.io/en/stable/pages/types.html#autocomplete
Here you can find more details on themes & styling with examples https://questionary.readthedocs.io/en/stable/pages/advanced.html#themes-styling

[2021-10-04 14:59] SteffenBrinckmann commented on #35
The arrow-keys are such a great feature of questionary. Did anybody get the arrow-keys working for their testing environment? And if yes, could you post the code?

[2021-10-07 07:16] HolgerDoerner commented on #112
@gresnick what do You exactly mean with "first prompt"? In my tests, only the question with the long running choices-callable takes time to load, all other before work just fine.

But to answer Your question "Why should the entire prompt flow wait for the response to this request" directly: The prompt for a specific question has to wait because without the choices, there is nothing to do further f

[2021-10-20 07:21] PabloRuizCuevas commented on #118
In my case ipython breaks (and jupyter) because of the use of prompt-toolkit==1.0.14 (the current version is prompt-toolkit 3.0.20 ). So for using questionary is needed to have a different environment than the one used for jupyter.

[2021-10-21 18:15] johnthagen opened #174 "Add a confirm argument to password"
### Describe the problem

When prompting a user for a password, they cannot see what is input so it's more likely they could make a typo without realizing it. This is why most inputs that take passwords have the user type it twice, to avoid the situation where a single error slips through.

### Describe the solution

Add a new `confirm` `bool` argument to `password()`:

[code]

If `True`, `passwor

[2021-10-23 16:45] victoraugustofd opened #175 "Running questionary script on GitBash"
### Question

Hi there, sorry if this is explained somewhere, but I couldn't find the answer to my question.
Is it possible to run a questionary script on a Git Bash terminal? I don't have a Linux OS to test, but the question applies to this environment too.

When I run my script on a Git Bash terminal, it gives me the following error:
`Found xterm, while expecting a Windows console. Maybe try to

[2021-10-29 11:22] amcsparron2793-Water opened #176 "Option to use Enter Key to choose from Checkbox"
### Describe the problem

the use of the spacebar to select options seems counterintuitive to the average user. This is especially true since pressing enter automatically confirms with zero options chosen (I know that this could be prevented with validation). I wonder if a parameter to use enter to select options with a "Finished" option to confirm choices could be added?.

### Describe the soluti

[2021-11-07 21:24] victoraugustofd commented on #175
Hi @kiancross @tmbo, how are you?
Sorry for bringing this question again, but this week I have tried my script on my work laptop, and due to security issues and because I am not the system administrator, I couldn't run **winpty powershell**.
Do you know any other way to run questionary on GitBash? I am trying to find another library to do this on GitBash and, with a simple condition, decide within

[2021-11-28 00:10] amnuts opened #187 "Is this a bug, a feature, or just a bad use case?"
### Question

Hi,

I'm trying to create a `checkbox` list that I'd like to contain a number of items that can't be turned off, but also still come back in the selected list when asked.  So I'm creating a `Choice` with `disabled` and `checked` both set to `True`, but the end result only contains values I have manually selected rather than _all_ those that are checked, even if they are disabled from

[2021-11-29 14:41] kiancross commented on #187
I'm not sure if this is by design or not, but I agree it is probably not the expected behaviour. I think if a disabled option is selected, it should be both visibly selected and returned by the prompt. Feel free to submit a PR for this, otherwise I'll take a look in a couple of weeks :)

[2021-11-29 22:06] amnuts commented on #187
Currently probably a bit beyond my knowledge of questionary to do a PR for this 😄

[2021-11-30 06:16] kiancross commented on #187
No worries - I'll have a look in a couple of weeks :)

[2021-12-06 18:55] kadaan opened #189 "Default supplier"
### Describe the problem

I would like to provide defaults based on prior answers.  For example, prompt for `<owner>` and `<service>`, then ask for `<service_name>` but have it default to `<owner>-<service>`.

### Describe the solution

Similar to how validation has been implemented, if I could provide a default supplier to a prompt, then I construct a rich default based on prior answers.  The fun

[2021-12-20 18:45] kiancross commented on #35
Some of our own tests use the arrow keys. You should be able to get this working in your own code by copying `tests/utils.py`. An example using arrow keys is here:

https://github.com/tmbo/questionary/blob/2979fb8c6404f69112e8ebf918f9a2b29a310b45/tests/prompts/test_select.py#L53

As @Yajo has suggested, we should expose these in the Questionary API so that people can more easily test their project

[2021-12-20 18:52] kiancross commented on #170
I'll close this issue as @szemek's answer should solve your problem :) Feel free to comment back on this issue if you need further help.

[2021-12-20 18:52] #170 closed

[2021-12-20 22:29] kiancross commented on #174
I think it is probably better to let the user implement this logic. It can be done fairly easily, as seen in this example:

[code]

The user can then choose what to do in such an instance (e.g. keep retrying indefinitely, or retry 3 times etc).

What do you think?

[2021-12-20 23:58] johnthagen commented on #174
@kiancross Yeah it's definitely valid to leave this up to the user.

[2021-12-21 01:49] #174 closed

[2021-12-21 02:27] kiancross commented on #189
I think what you are asking can already be done. Here is an example:

[code]

Please let me know if I have misunderstood.

[2021-12-21 14:37] kiancross commented on #118
This could probably be done using [`ipywidgets`](https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html), although may not be within the scope of questionary.

[2021-12-21 19:45] kiancross commented on #166
Feel free to send a PR to add a type check for this :)

[2021-12-21 22:14] lyz-code opened #195 "Don't highlight default choice in Select questions"
### Question

I don't want to highlight the default choice in the `select` question.

### What have you already tried?

I've tried using my own styling, but I can't find the `class` that changes that behaviour. I've also checked the reference and the code to see if there was any option to disable this behaviour.

### Read the documentation

- [X] I have checked to ensure that my question is not an

[2021-12-22 03:25] kiancross commented on #195
You can use the following style to remove the highlight:

[code]

[2021-12-22 10:20] lyz-code commented on #195
Works like a charm, thanks!

[2021-12-22 10:20] #195 closed

[2021-12-24 13:12] #187 closed

[2021-12-26 21:06] tmbo commented on #127
fixed in #198

[2021-12-26 21:06] #127 closed

[2021-12-26 21:06] tmbo commented on #120
fixed in #198

[2021-12-26 21:06] #120 closed

[2021-12-26 21:07] #175 closed

[2021-12-26 21:07] tmbo commented on #176
@amcsparron2793-Water this is a good point and I've actually run into this as well. Do you have an idea how to implement that in a backwards compatible way?

[2021-12-26 21:08] #189 closed

[2021-12-26 21:19] ewels commented on #127
Awesome, thanks so much @tmbo! I'll give this a try ASAP.

Scanning over the new code quickly, it looks like there is a check that the provided directories exist - in my use case the file system is remote so this kind of check will fail. Is there a way to get around this? Apologies if I'm missing something obvious - just skim reading a PR on my phone at this point.

Thanks again,

Phil

[2021-12-27 09:05] tmbo commented on #127
You still need to provide a custom completer, the one provided uses the file system to suggest the paths. But the PR (in addition to allowing to pass in a set of directories also allows to customize the completer, which is what you need).

The custom completer could look something like this (didn't test this code, just for inspiration):
[code]
        paths = ["/a/foo", "/a/bar"]
        questiona

[2021-12-27 11:22] ewels commented on #127
Amazing 🤩 Thanks so much for the explanation!

[2021-12-28 12:42] amcsparron2793-Water commented on #176
let me work on it and get back to you (@amcsparron2793 [tagging my personal account so I don't forget]). I think some tweaking of /questionary/prompts/checkbox.py around L189 (the key bindings) should do  it.

[2022-01-02 10:21] michelsciortino opened #199 "Support for composition inside existing prompt_tools apps"
### Describe the problem

I'd like to use questionary inside existing prompt_tools but it seems questionary creates its own application instance and does not directly exports its content as a Container.

### Describe the solution

It would be possible to create Questions as Containers or Controls enabling a composition inside more complex layouts?

### Alternatives considered

_No response_

[2022-01-03 11:15] toxicrecker opened #200 "How can i clear the screen"
### Question

As the title says, how can i clear the screen after a prompt before switching to the other prompt

### What have you already tried?

Nothing

### Read the documentation

- [X] I have checked to ensure that my question is not answered by the documentation.

[2022-01-04 19:43] kiancross commented on #200
After each question, you can call the function given [here](https://stackoverflow.com/a/684344) to clear the terminal.

[2022-01-25 08:26] oferveur opened #203 "Add possibility to use List[Choice] in choices parameter of autocomplete"
### Describe the problem

It will be valuable to have the possibility to use Choice inside the parameter "choices".
It will allow for exemple to select a object.

### Describe the solution

[code]

### Alternatives considered

_No response_

[2022-02-03 01:55] kadaan commented on #189
@kiancross While that does work, it doesn't work if questionary is configured using a dictionary.  I would like to be able to configure questionary with a dict and provide functions for the defaults, validators, when, etc.  This allows the prompting to dynamically change based on the answers provided.

[2022-02-03 05:29] kadaan commented on #189
Actually, I checked out the code again and see that default can be a callable, but it just isn't documented

[2022-02-06 19:58] edkedk99 commented on #81
You could try something like the code snippet below

[code]

[2022-02-18 09:31] PhML opened #207 "Add print question type to dictionary style prompt"
### Describe the problem

With version `1.10.0` when I want to use both prompt with dictionary and `print` question type, I need to call several prompts and to merge answers:

[code]

### Describe the solution

Adding `print` type to prompt dictionary would resolve the issue:

[code]

### Alternatives considered

_No response_

[2022-02-22 14:42] tmbo commented on #207
Oh that is a really good point - @PhML I'd love to merge this as a contribution, any chance you can take a stab at it? Happy to provide pointers and help out

[2022-02-22 14:44] tmbo commented on #203
@oferveur mhm I am not actually sure if there is something that stands in the way of doing that. happy to take a look, but maybe @kiancross knows if there is an issue with the suggested solution? I think in terms of API / workflow it does fit in quite well.

[2022-02-23 19:18] kiancross commented on #203
@tmbo I think the only problem would be deciding what the `checked`, `disabled`, and `shortcut_key` properties of a `Choice` do in the context of an `autocomplete`. I do agree that at least being able to set a different `title` and `value` would be useful.

[2022-02-26 16:19] #200 closed

[2022-02-26 16:55] #112 closed

[2022-03-23 09:10] aarmn opened #215 "DataClass as return type of form"
### Describe the problem

Dictionaries are nice data types but they are not very well specialized for this purpose I feel, I wanna ask why there is not an option (or why it didn't become the default) to use data classes as the return type of questionary form?

### Describe the solution

I guess it's pretty simple to implement it as a form option to return its data as a data class? if it matches ze

[2022-04-03 10:37] tmbo commented on #215
Hey @aarmn that is a really good point - I guess reasons are pretty simple, it is based on inquirer and it used to be simple objects there (plus, dataclasses were not a thing when we started this 😉 ). We'd need to drop 3.6 support, but that is alright it is out of life now anyways.

I do like the idea, it could provide a cleaner interface. How about an example on how that would look like in terms

[2022-04-10 17:41] beliaev-maksim commented on #92
@tmbo
cannot be reprdocued on latest master

[2022-04-10 18:06] tmbo commented on #92
Sounds great, let’s close this then 🎉

[2022-04-10 18:06] #92 closed

[2022-04-19 13:26] kiancross opened #220 "Fix typo in workflow file name"
The following file has a typo in its name. It should be `continuous-integration.yml`.

https://github.com/tmbo/questionary/blob/8a9bcd501c463eafe6ab0d651f278d043d31fcbc/.github/workflows/continous-integration.yml

[2022-05-15 08:16] #220 closed

[2022-05-27 15:24] iot-resister opened #229 "Is there a way to turn the highlight for the choice selection?"
### Question

I'm trying to turn off the inverted colors every time the user make a checkbox choice.

### What have you already tried?

I looked at the docs and promptool kit docs but I couldn't get anywhere. The following code just forces the colors black and white on select.
[code]

 I'd like to turn it off or just pass `("selected", "bg:transparent"),`

### Read the documentation

- [X] I have

[2022-05-27 20:46] kiancross commented on #229
You can do something similar to https://github.com/tmbo/questionary/issues/195#issuecomment-999257280. E.g.

[code]

[2022-05-28 20:55] iot-resister commented on #229
thanks!

[2022-05-28 20:55] #229 closed

[2022-06-13 04:29] sdrap commented on #118
I came across this error too and I see why it can not work. (Same for vscode interactive window). It's a shame because questionary is truly awesome in terminal and would be great to see it work in notebook or vscode.

[2022-06-13 07:37] Woile opened #234 "New line after instructions"
### Question

Hello there! I was wondering if it is possible to add a new line after setting some instructions. The instructions may be long, so it would be nice to do that. I've checked the docs, but I didn't find anything relevant. I searched for new line and instruction.

[code]

Thanks a lot 🙏🏻 !

### What have you already tried?

Adding a new line at the end: `Name used for something, special

[2022-06-17 19:58] kiancross opened #237 "Some CI jobs are not marked as required"
Some CI jobs are not marked as required. For an example, see #236. All should be required apart from:
-  `Deploy to PyPI`
- `coverage/coveralls`

Fixing this will allow the auto-merge feature to be used without risking merging a PR with failing tests.

@tmbo, I think only you can fix this, as you are the repository owner!

[2022-06-17 20:12] kiancross commented on #234
I don't think it is possible to do exactly as you want. You could possibly remove the underline style from `instruction`. Alternatively, move the text from `instruction` into `message`, then set `instruction` to `\n`.

[2022-07-19 03:44] macintacos opened #239 "Allow searching `meta_information` in `autocomplete` question type"
### Describe the problem

If you specify a dictionary of `meta_information`, the prompt that is provided is great. However, the text provided in the `meta_information` is not searchable - if I search for a word that is only in the `meta_information` dictionary, you'll be presented with no results.

### Describe the solution

I would like to be able to user the `autocomplete` action to search any t

[2022-07-30 23:07] RhetTbull opened #243 "Enhancements to prompt() to add if condition, repeated questions, and list/dict types"
### Describe the problem

First, thanks for creating/maintaining questionary!  This is a super useful package.

I'm working on using questionary to create an interactive "wizard" for configuring a fairly complex [click](https://click.palletsprojects.com/en/8.1.x/) CLI app ([osxphotos](https://github.com/RhetTbull/osxphotos)].  I'd like the output of the questions to map directly to the input neede

[2022-07-30 23:15] RhetTbull commented on #207
Anyone working a PR for this? I'm willing to take a stab at it if no one is.

[2022-07-31 23:33] RhetTbull commented on #243
In looking at the source code for a possible implementation for #207, I see there's already a legacy `list` type defined as an alias for `select` so one change that would be needed if there's interest in merging these enhancements would be a name for what I've defined as `list` and `dict` types (which are different than defined by questionary).

https://github.com/tmbo/questionary/blob/848b040c5b7

[2022-08-01 01:28] RhetTbull commented on #207
I've got a basic implementation working. Question for those interested in this feature: should it work with the `qmark` value or not?  I think it makes sense that if you're just printing a message, you don't want/need to the `qmark` value (that is, `print` type would just print `message` with style `style` and ignore `qmark`) but open to feedback.

[code]

(I tried to do an asciinema recording per

[2022-08-01 11:33] kiancross commented on #207
I agree with this.

[2022-08-03 07:29] tmbo commented on #207
Nice work 🎉 , do you mind opening a PR?

[2022-08-03 16:03] RhetTbull commented on #207
Yes, I'm working on a PR but I'm reworking the implementation because I feel it's a bit too "hacky" at the moment.  I initially wanted to avoid moving `prompt()` so I added a new prompt type that subclasses `Question` which just prints without asking so that when prompt calls `Question.ask_unsafe()`, everything 'just works'.  This is not super intuitive though so I think it would be cleaner to jus

[2022-08-08 01:38] RhetTbull commented on #207
PR submitted (#244)

[2022-08-13 12:12] kmeans27 opened #245 "How to navigate back at start screen?"
### Question

Hello,

I am currently trying to get used to questionary. As far as now I really like this library!

However I have a question on how to navigate one step backwards.

Here is the sample code:
[code]
note here I do not know what to put in the else statement. All I want the application to do is go one question back. So the user can again "Select one of the following:"

### What have yo

[2022-08-13 13:48] mrHeavenli commented on #245
Hi, assuming you mean "redo the question" by "go one question back",
all you need to do is put the code in a while loop, like this:
[code]

No else required.
Note that exit() and quit() don't seem to really work, for some reason probably questionary-related
I hope this helped!

[2022-08-14 10:14] kiancross commented on #245
Hi @kmeans27. I'll close this issue now, as I think @mrHeavenli's answer should help you. If not, post back here and I can reopen it.

[2022-08-14 10:14] #245 closed

[2022-08-15 02:04] kiancross commented on #239
You should be able to do this by passing a custom `completer` to the `autocomplete` prompt. You can see the implementation of the default completer here:

https://github.com/tmbo/questionary/blob/6643fe006f66802d9e504640f26b9e1a0a9d1253/questionary/prompts/autocomplete.py#L27-L100

You probably want to extend this and override the `_choice_matches` method to also search `meta_information`.

[2022-08-15 10:44] WilliamStam opened #246 "Questionary with pycharm line issues"
### Question

anyone else seeing strangness with pycharm "run" and questionary? (its not a bug since its just pycharm strangeness)

using the demo code on pypi:
![image](https://user-images.githubusercontent.com/182800/184621396-0ae08e69-88fc-466e-b67d-948c968cf743.png)

windows 11
pycharm 2022.2
python 3.10
questionary 1.10

![image](https://user-images.githubusercontent.com/182800/184621584-7777

[2022-08-15 22:18] #239 closed

[2022-08-15 22:23] #207 closed

[2022-08-17 10:26] kmeans27 opened #247 "Want to select a element from database using questionary. Returns right value but cannot delete it using my delete function"
### Question

Hello,

I coded a select option so the user can simply use his keyboard to select a habit to delete. The select method returns the exact name but I can somehow not delete any rows in my Sqlite3 database even though the remove method is working?
here are some screenshot if this helps: [https://imgur.com/a/VrfEb48](url)

[code]

[code]

[code]
[code]

### What have you already tried?

[2022-08-17 15:26] kiancross commented on #247
This doesn't sound like a problem with Questionary specifically, but a general bug in your code. I'll close this issue for now, but if you disagree and think that there is indeed a problem with Questionary, please post back. Some general pointers to help you debug your code:

 - Check the return value of your `cursor.execute` statement - I suspect you will find there is an error here.
 - Using for

[2022-08-17 15:26] #247 closed

[2022-08-22 13:45] kmeans27 commented on #247
Hi @kiancross , thank you for you reply and sorry to bother you again.
I still haven't solved the issue.  I read through your comment multiple times.

As I didn't know the error I am now trying to implement some unittests.

Could you please tell me, **how I can unittest the return from the select_habit() function?** So that I can finally solve this issue and move on.

[2022-08-24 15:12] kiancross commented on #247
You can take a look at [how we have implemented unit tests](https://github.com/tmbo/questionary/tree/master/tests) to get an idea about how you may wish to do this.

Unit tests are great for catching [regressions](https://en.wikipedia.org/wiki/Software_regression). However, they're probably not going to help you get to the bottom of this issue.

I've taken a look at your code, and I'll give you so

[2022-08-25 14:38] kmeans27 commented on #247
Omg you just made my day kind sir!

All i did was moving the "data.remove_habit(habit_to_delete)" just above t he if statement. The code executed fine! everything working perfectly now. Somehow the under the if statement was not executed.

`    if navigation == "Delete existing habits":
        habit_to_delete = data.select_habit()
        print(habit_to_delete)
        **data.remove_habit(habit_t

[2022-08-25 16:26] kiancross commented on #247
The reason the code inside the if statement is not executing is because the if statement is not true. `choice` is _not_ equal to `"Yes"`. The correct if statement if `if choice:`, because `choice` is a boolean.

[2022-09-02 17:33] e0lithic opened #250 "[Feature Request] Supporting Style class in dictionary based questions."
### Describe the problem

Currently, the "style" attribute in the dictionary based questions only supports basic text based styling attribute but doesn't allow passing the style class instance.

### Describe the solution

[code]

### Alternatives considered

Although similar results can be obtained by using the pythonic style, but it eludes the simplicity of the dictionary based question generatio

[2022-09-08 10:42] i30817 opened #251 "Choice disabled enhancement"
### Describe the problem

This probably doesn't make much sense.

I was using questionary.choice and was conditionally disabling entries. But then i wanted to conditionally _enable_ some entries. Should appear easy right, just don't set disabled.

However, this didn't explain why the entry was enabled - it wasn't obvious from the question or the name. I ended up adding the condition between parent

[2022-09-08 12:07] i30817 commented on #251
Mmm i think i should do this by making it clear in the title that the added text is extra information instead of asking for it in the disable argument. Then i can just use disable=True and use a consistent call on both.

[2022-09-08 12:31] i30817 commented on #251
Unfortunately, although the above works well, i _still_ need to set a string to 'disabled' and that puts in () around it, so i can't use something subtle like a nonbreaking space and not get anything except the choice disabled.

I'm going to ask either the original request here or a way to use pure bool on disabled that also does not print any explanation.

[2022-09-08 12:51] i30817 commented on #251
Ugh, never mind. Disabled _does_ check for being a boolean, and doesn't print the (text) if it's set to True. It just wasn't in the documentation.

[2022-09-08 12:51] #251 closed

[2022-09-16 20:01] Glass-Pane opened #252 "Add Style Option for Variables"
### Describe the problem

Right now we can only, from what I can find, format a handful of questionary options and they apply to entire questionary prompt. Which often contains dynamic variables from elsewhere in the script.

### Describe the solution

I'd like to highlight these variables with a custom styling so they standout amongst the rest of the text. Example:
You ask a question where a prev

[2022-09-16 20:07] Glass-Pane commented on #234
I just opened an enhancement fro something similar https://github.com/tmbo/questionary/issues/252

Different specific scenarios, but having the ability to format only specific parts of a question would be helpful.

[2022-09-17 14:10] Rohan-cod opened #253 "Test the questionary code"
### Question

Is there a way to test the questionary code if not native, via a third party?

### What have you already tried?

Read the docs but couldn't find a solution

### Read the documentation

- [X] I have checked to ensure that my question is not answered by the documentation.

[2022-09-29 06:21] Wulf-Steppen opened #256 "questionary Printing Incorrect Colors to Terminal"
### Describe the bug

I'm working on a cl app and am using questionary in tandem with rich. I noticed while building a help page for available color options that passing a hex value to questionary will result, sometimes, in the in correct color being returned.

[code]

Where {theme} is the hex value. Here is an example of the color help page using rich to render the hex and an example of the same

[2022-11-24 18:47] EugeneWust opened #263 "Strange result"
### Question

Tried this one:

[code]

When executing this happened:

[code]

### What have you already tried?

Already switched back to Python 3.9. Same result. Working on Mac OS 12.6

Active Python at the moment:

[code]

Can you tell me what i am doing wrong.

Thanks in advance,

Eugène Wüst
Amsterdam

### Read the documentation

- [X] I have checked to ensure that my question is not answered b

[2022-11-29 01:24] kiancross commented on #263
Are you using the normal MacOS terminal? Can you try Python 3.9?

[2022-11-29 01:31] kiancross commented on #253
Could you describe what exactly you are trying to do? If you're are asking about automated testing, there are some examples [here](https://github.com/tmbo/questionary/tree/master/tests) which may get you started.

[2022-11-29 01:41] kiancross commented on #256
I wonder if the bug is in the mapping between colour names and hex codes in your code? Can you provide a self-contained [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)?

 The following example worked for me:

[code]

![Result](https://user-images.githubusercontent.com/11011464/204417366-9129167d-77c7-44a5-bcaa-5dcabcd2b40c.png)

[2022-11-29 08:40] EugeneWust commented on #263
Hi Kian,

Thanks a lot. I used the IDLE Shell with Python 3.11. Tried your suggested combination MacOS terminal and Python 3.9.15 and it worked like a charm. Thanks a lot!

Kind regards, Eugène Wüst
Amsterdam, Holland

[2022-11-29 22:52] awgymer commented on #203
Came to see if this functionality existed, consider this a +1 for interest in how we can achieve this

[2022-11-30 01:44] kiancross commented on #263
Thanks for reporting back. I've switched this to a bug for now so that I can investigate if Idle should work or not.